{% extends "components/base.html" %}

{% block title %}Delete Task{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center h-screen">
    <div class="bg-white p-4 flex flex-col items-center justify-center gap-4">
        <p>Are you sure you want to delete the task "{{ object.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="bg-[#3944e5] btn text-white px-4 py-2 rounded">Delete</button>
            <a href="{% url 'task_list' %}" class="btn bg-gray-500 text-white px-4 py-2 rounded">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}